@import "tailwindcss";


@theme inline {
      --font-inter: var(--font-inter);
      --font-parisienne: var(--font-parisienne);
      --font-cormorantGaramond: var(--font-cormorant-garamond);
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}